.engHeader {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #f9f7f0;
}
.engLogo {
  width: 50px;
  height: 40px;
}
#engNav {
  margin: 0;
  padding: 0;
  background-color: red !important;
  height: 80ox;
}

@media (max-width: 800px) {
  * {
    font-size: 13px;
  }
  .engLogo {
    width: 25px;
    height: 25px !important;
    padding-bottom: 3px;
    margin-left: 1.5rem !important;
  }
}
